/Secretaría de Transito/dist/
/Sistema Parroquia San Pio XX/nbproject/private/
/Sistema Parroquia San Pio XX/build/
/Sistema Parroquia San Pio XX/dist/
/Supermercado sOOper/dist/
/Escuela de Baloncesto/nbproject/private/
/Escuela de Baloncesto/build/
*.jar